html {
  background-color: #0a0a0a;
}


main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

svg {
  transform: scale(1.5);
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}