html, body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  font-size: 1.2rem;
  background-color: #14131b;
  color: #e8e8f0;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: #f8872a;
  display: inline-block;
  margin: 0.5rem 0rem;
  border: 6px solid transparent;
  border-radius: 0.25rem;
  color: rgb(255, 245, 245);
  width: 15rem;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 200ms;
}

a:hover {
  background-color: transparent;
  border: 6px solid #f8872a;
  color: #f8872a;
}


.uke {
  padding: 2rem 2rem;
  background-color: #2b2a44;
  border-radius: 0.25rem;
}

.uke:not(:first-of-type) {
  margin-left: 2rem;
}