/*Legge til Roboto font fra Google Fonts 
  med 400, 500 og 700 font vekt.
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html, body {
  margin: 0;
  font-family: "Roboto";
}

p {
  max-width: 80ch;
}

.grid--container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  grid-template-rows: 4rem auto 2rem;
  grid-template-areas:
  'header header header'
  'left main right'
  'footer footer footer';
}

.header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: gainsboro;
  padding: 0rem 20rem;
}

.header--title {
  margin: 0;
}

.main {
  grid-area: main;
  background-color: whitesmoke;
}

.main--left {
  grid-area: left;
  background-color: whitesmoke;
}

.main--right {
  grid-area: right;
  background-color: whitesmoke;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: rgb(56, 56, 56);
  color: white;
}