@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(250, 231, 247);
}

#app {
  height: 100%;
}

.container--controller-fixed {
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding: 1rem;
  position: fixed;
  margin: 1rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 0rem;
}

.subtitle {
  font-size: 1rem;
  margin: 0.5rem 0rem;
  margin-top: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}